<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Zero Picking - Coming Soon</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <style>
        body {
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background-color: #f2f2f2; /* Grey background color */
        }

        img.center-image {
            display: block;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <img class="center-image" src="{{ url_for('static', filename='images/zeropicking.png') }}" alt="Zero Picking" width="800" height="1000"/>
</body>
</html>
